<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/style/style.css" rel="stylesheet"/>

<div class="nav">
	<ul>
		<li><a href="/events">events</a></li>
		<li><a href="/pipe">pipe streaming</a></li>
		<li><a href="/pipesave">pipe save streaming</a></li>
		<li><a href="/profile/Ali Samy">Profile</a></li>
		<li><a href="/page/about">About us</a></li>
		<li><a href="/writeStream">normal write streaming</a></li>
	</ul>
</div>